{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="container mt-5">

    <form method="POST" action="/add-post">

        <div class="mb-3">
            <label>title</label>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="mb-3">
            <label>content</label>
           <textarea name='content' ></textarea>
        </div>
         <div class="mb-3">
            <label>author</label>
            <input type="text" name="author" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>

    </form>

</div>

{% endblock %}


<!-- 
 <form method="POST" action="/add-user">

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control">
        </div>

        <div class="mb-3">
            <label>Age</label>
            <input type="number" name="age" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>

    </form> -->